*,
*::before,
*::after{
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html{
    font-size: 62.5%;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
    background-color: rgb(233, 233, 233);
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;

    li{
        cursor: pointer;
    }
}

button{
    border: none;
    background: transparent;
    cursor: pointer;
}

input{
    font-size: inherit;
    font-family: inherit;
}

// ======== LAYOUT ==============

.container{
    display: grid;
    grid-template-rows: min-content 1fr;
    height: 100vh;

    // .header{ }

    .content{
        display: grid;
        grid-template-columns: minmax(max-content, 21%) minmax(min-content, 1fr);

        .search-results{ background-color: burlywood }

        .info{ 
            display: grid;
            grid-template-rows: max-content minmax(max-content, 1fr);
            grid-row-gap: 1rem;

            // &-gallery{ }
            // &-info{ }
            // &-cast{ }
        }
    }
}