.info{
    padding: 1rem;

    .section-content{
        padding: 1rem 2rem;
        font-size: 1.5rem;
        color: inherit;
    }

    .hlts{
        display: grid;
        grid-template-columns: min-content 1fr;

        &__poster{
            display: contents;
            &-img{
                width: 20rem;
            }
        }

        &-meta{
            padding: 1rem;

            // &__director{}
            // &__release-date{}
            // &__catch-phrase{ }
            // &__ratings{ }

        }
    }

    .info-actions{

        .likes{

            &__icon{
                margin-right: 2rem;
                height: 3rem;
                width: 3rem;
                fill: #a01000;
                cursor: pointer;
            }
        }
    }

    // &-description{
    // }

    // &-recommendations{ }
}