.info{
    padding: 1rem;

    .section-content{
        padding: 1rem 2rem;
        font-size: 1.5rem;
        color: inherit;
    }

    .hlts{
        display: grid;
        grid-template-columns: min-content 1fr;

        &__poster{
            display: contents;
            &-img{
                width: 20rem;
            }
        }

        &-meta{
            padding: 1rem;

            // &__director{}
            // &__release-date{}
            // &__catch-phrase{ }
            // &__ratings{ }

        }
    }

    .info-actions{

        display: flex;
        justify-content: center;
        font-size: 1.5rem;
        cursor: pointer;

        &__add-to{
            display: flex;
            align-items: center;
            padding-top: .2rem;
            padding-right: 1rem;
            padding-bottom: .2rem;
            padding-left: .2rem;
            margin: 0 1rem;
            background-color: $c-mw-bg-aws;

            span{
                padding: 0 1rem;
            }
        }

        &__icon-bg{
            background-color: $c-font-sec01;
            border-radius: 1px;
        }

        &__icon{
            display: block;
            margin: .3rem;
            height: 2.5rem;
            width: 2.5rem;
            fill: #fff;
        }

        // .cart{ }
        // .wishlist{ }

    }

    // &-description{
    // }

    // &-recommendations{ }
}