.spinner{
    width: 100%;
    fill: #999;

    svg {
        
        margin: 20vh auto;
        height: 5rem;
        width: 5rem;
        display: block;
        animation: rotate360 1.5s infinite linear;
    }
}

@keyframes rotate360 {
    0% {transform: rotate(0) }
    100% {transform: rotate(360deg) }
}