// h2,
// h3{
//     color: $c-font-sec03;
// }

.section-header{
    display: grid;
    grid-template-columns: 13% max-content 1fr;
    grid-gap: 1rem;
    align-items: center;
    color: $c-mw-font-section-header;
    text-transform: uppercase;

    &::before,
    &::after{
        content: "";
        height: 2px;
        background-color: currentColor;
    }
}

.hlts-meta__title{
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    grid-gap: 1rem;
    align-items: center;

    font-size: 2rem;
    color: $c-mw-font-hlts-title;
    text-align: center;

    &::before,
    &::after{
        content: "";
        height: 2px;
        background-color: currentColor;
    }
}

.orders-header{
    text-transform: uppercase;
    color: #e85a50;
    text-align: center;
    font-size: 3rem;
    transform: skew(0deg, -3deg);
}
