// ======== COLORS ========
// Minimal - Warm
$c-mw-bg-light00: #f1f1eb;
$c-mw-bg-light01: #e2e2df;



$c-mw-bg-begue00: #d8c3a4;
$c-mw-bg-begue01: #e7d2b3;;
$c-mw-bg-aws: #f3cd6f;


// $c-mw-bg-dark: #8e8d89;
$c-mw-bg-dark: #272725;


$c-mw-font-light: #e88073;
$c-mw-font-dark: #e85a50;

$c-mw-font-hlts-title: #b4261c;
$c-mw-font-section-header: #c83a30;


// Stylish - Sophisticated
$c-ss-grey-dark: #5d5c61;
$c-ss-grey-light: #938e94;
$c-ss-blue-dark: #7395ae;
$c-ss-blue-light: #557a95;
$c-ss-brown-light: #b1a296;

// FONT COLORS
$c-font-main: rgb(15, 15, 15);
$c-font-sec00: #7a7a7a;
$c-font-sec01: #525252;
$c-font-sec02: #424242;
$c-font-sec03: #323232;
